/* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
} */

.game-over-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-over-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}