.intersection {
    position: relative;
    width: 500px;
    height: 500px;
    border: solid 1px green;
}

.streets {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}

/* Define street styles (EG width, height, color, borders) */
.street {
    position: absolute;
    width: 100%;
    height: 100%;
}

.east-west {
    top: 25%;
    left: 0;
    height: 50%;
    width: 100%;
}

.north-south {
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
}

.ew-lane {
    position: absolute;
    width: 100%;
    height: 50%;
}

.eastbound {

    top: 0;
    background-color: #cccccc;
}

.westbound {

    bottom: 0;
    background-color: #000000;
}

.ns-lane {
    position: absolute;
    width: 50%;
    height: 100%;
}

.northbound {

    left: 0;
    background-color: #42b453;
}

.southbound {

    right: 0;
    background-color: #c53535;
}

.stop-sign {

}

.vehicle {

}