.pedestrian {
    /* width: 50px;
    height: 50px; */
    position: absolute;
    /* transition: transform 1s ease-in-out; */
    transition: left 1s ease-in-out, top 1s ease-in-out;
}

.pedestrian-image {
    width: 100px;
    height: auto;
}