.container {
    position: relative;
    width: 60vw;
    height: 60vh;
}

.vehicle {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    transition: transform 1s ease-in-out; /* Smoothly transition the transform property over 1 second */
}
