.eye-contact-popup {
    position: fixed;
    width: 30vw;
    height: 15vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: fadeOut 1s ease forwards 1s;
    overflow: hidden;
    border: solid 5px white;
    background-color: black;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.eye-contact-content {
    width: 200%;
    height: 200%;
}