/* App.css */

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars if desired */
    height: 100%;
  }
  
  .outer-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center;     /* Center the container vertically if needed */
  }
  
  .viewport {
    width: calc( (90vh * 3.628) * 0.551 ); /* 55.1% of the container width */
    height: 90vh; /* 90% of the viewport height */
    overflow: hidden;
    position: relative;
  }
  
  .container {
    width: calc(90vh * 3.628); /* Full width of the scaled background image */
    height: 90vh; /* Scaled height */
    position: relative;
    /* font-size: 16px; */
  }
  
  .background-image {
    width: 100%; /* Fill the container */
    height: 100%; /* Fill the container */
    object-fit: contain; /* Maintain aspect ratio */
  }
  
  .score-display {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }