/* .container {
    position: relative;
    width: 60vw;
    height: 60vh;
} */

.automobile {
    /* width: 400px;
    height: 400px;
    position: absolute;
    transition: left 1s ease-in-out, top 1s ease-in-out;
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
    transform: translate(-50%, -75%); */

    position: absolute;
    width: 6%;
    aspect-ratio: 1 /1 ;
    transition: left 1s ease-in-out, top 1s ease-in-out;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    transform: translate(-50%, -75%);

    /* position: absolute;
    width: 5vh;
    aspect-ratio: 1 /1 ;
    background-repeat: no-repeat;
    background-size: 20vh 20vh;
    transition: left 1s, top 1s; */
}

/* .vehicle-image {
    width: 100px;
    height: auto;
} */