:root {
    --vehicle-size: 6vw;
}

.automobile {
    /* width: 400px;
    height: 400px;
    position: absolute;
    transition: left 1s ease-in-out, top 1s ease-in-out;
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
    transform: translate(-50%, -75%);
    border: solid 1px black; */

    /* position: absolute;
    width: 6%;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    transition: left 1s ease-in-out, top 1s ease-in-out;
    transform: translate(-50%, -50%);
    border: solid 1px black; */

    /* position: absolute;
    width: 6vw;
    height: 6vw;
    background-size: calc(4 * 6vw) calc(4 * 6vw);
    background-color: rgba(255, 0, 0, 0.5);
    background-repeat: no-repeat;
    transition: left 1s ease-in-out, top 1s ease-in-out;
    transform: translate(-50%, -50%);
    border: solid 1px black; */

    position: absolute;
    width: 10vw;
    height: 10vw;
    background-color: rgba(255, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    transition: left 1s ease-in-out, top 1s ease-in-out;
    transform: translate(-50%, -50%);
    border: solid 1px black;
}

/* .vehicle-image {
    width: 100px;
    height: auto;
} */