/* .container {
    position: relative;
    width: 60vw;
    height: 60vh;
} */

.automobile {
    width: 400px;
    height: 400px;
    /* background-color: black; */
    position: absolute;
    /* transition: transform 1s ease-in-out; */
    transition: left 1s ease-in-out, top 1s ease-in-out;
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
    transform: translate(-50%, -75%);
}

.vehicle-image {
    width: 100px;
    height: auto;
}