.automobile {
    /* width: 400px;
    height: 400px;
    position: absolute;
    transition: left 1s ease-in-out, top 1s ease-in-out;
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
    transform: translate(-50%, -75%);
    border: solid 1px black; */

    /* position: absolute;
    width: 10vw;
    height: 10vw;
    background-color: rgba(255, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    transition: left 1s ease-in-out, top 1s ease-in-out;
    transform: translate(-50%, -50%);
    border: solid 1px black; */

    position: absolute;
    transform: translate(-50%, -50%);
    /* width: 10vw;
    height: 10vw; */
    transition: left 1s ease-in-out, top 1s ease-in-out, width 1s ease, height 1s ease;
}